<h3>Ajouter une option</h3>

<div class="panel-body">
  <form [formGroup]="formCreate" (ngSubmit)="createList(formCreate.value)">
    <div class="row">
      <div class="form-group col-sm-12">
        
        <label for="key">clé de l'option</label>
        <input type="text" name="key" class="form-control" placeholder="clé de l'option" formControlName="key">
        <label for="label">label de l'option</label>
        <input type="text" name="label" class="form-control" placeholder="nom de l'élément" formControlName="label">

      </div>
    </div>
    <div class="form-group col-sm-12">
      <button type="submit" class="btn btn-success">creer l'option</button>
    </div>
  </form>
</div>

