
<br>
<div class="panel panel-warning" *ngFor="let element of liste">
  <div class="panel-heading ">
    <h3 class="panel-title ">id : {{element.id}}</h3>
  </div>
  <div class="panel-body">
    clé : {{element.key}}
    <br> label : {{element.label}}
  </div>
</div>
