<!--Les composants sont appelés dans les liens ou boutons garce a routerLink
<app-read-list></app-read-list>
<app-create-list></app-create-list>
-->

<!--OPTION pour avoir un menu navbar en haut 
<nav class="navbar navbar-default">
    <div class="container fluid">
      <div class="navbar-header">
      -->
<!-- navbar-brand permet au title (logo) d'être sur la meme ligne que la navbar-->
<!--
        <a class="navbar-brand" href="#" routerLink="/">
          {{title}}
        </a>
        <ul class="nav navbar-nav">
          <li>
            <a href="#" routerLink="/liste">liste des options</a>
          </li>
          <li>
            <a href="#" routerLink="/liste/add">créer des options</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
-->
<!--OPTION pour avoir des boutons-->
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <a class="title" href="#" routerLink="/">{{title}}</a>
    </div>
    <div class="col-sm-6">
      <button type="button" class="btn btn-primary" href="#" routerLink="/liste">Liste des options</button>
      <button type="button" class="btn btn-primary" href="#" routerLink="/liste/add">Créer une option</button>
    </div>
  </div>
</div>
<hr>
<router-outlet></router-outlet>
