
<!--ils sont appeler grace au route dans app.module
<app-read-list></app-read-list>
<app-create-list></app-create-list>
-->
<app-search-list></app-search-list>
<hr>
<app-search-result></app-search-result>