
<div class="recherche row">
  <!--#créé variable qui recupere ngForm....puis rappel de cet variable pour avoir la value-->
  <form #searchListe="ngForm"  (ngSubmit)="resultForm(searchListe.value)">
    <!--pas besoin de form-control car on n'a pas de model
      ngModel et name obligatoire pour recuperer les donnees du formulaire-->
      <div class="col-sm-12">
          <input type="text" ngModel class="search-input" name="key" placeholder="OPT1, OPT2" required>
          <!--on ajoute [disabled]="searchForm.invalid" disabled = desactiver quanf invalide-->
      <button type="submit" class="btn btn-success" [disabled]="searchListe.invalid">Chercher une option</button>
        </div>
  </form>
</div>

<!--A VOIR AVEC UNE LISTE DE ROULANTE
<div class="col-sm-12">
    <select name="key" cols="90" rows="10" formControlName="key">
        <option *ngFor="let element of listekey" [value]="element.value">{{element.key}}</option>
      </select>
    <!--on ajoute [disabled]="searchForm.invalid" disabled = desactiver quanf invalide-->
    <!--<button type="submit" class="btn btn-success" [disabled]="searchListe.invalid">chercher</button>
  </div>
-->
